name: "Test"

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  nix-matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v15
        with:
          name: shuredotnix
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - run: nix flake check
      - run: nix build .#nixosConfigurations.desktop.config.system.build.toplevel
