name: "Dependency Maintenance"

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  auto-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "update flake.lock"
          pr-labels: |
            dependencies
            automated
